<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
 {% load crispy_forms_tags %}
{% block content %}
 <div class="content-section">
        <form method="POST" action="">
            {% csrf_token %}
            <fieldset>
                <p> class="border-bottom mb-4">Post Your House</p>
                {{ form|crispy }}
            </fieldset>
            <div class="form-group">
                <button type="submit" class="btn btn-outline-primary sb mb-3">Post</button>
            </div>
        </form>
{% endblock %}
</body>
</html>